.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin: 80px 170px;
}
.title{
    position: relative;
}
.title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.section{
    display: flex;
    gap: 150px;
}
.contactleft{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contactleft h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contactleft p{
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}
.contactdetails{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}
.detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contactright{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.contactright label{
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}
.contactright input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #ADADAD;
    font-family: outfit;
    font-size: 20px;
}
.contactright textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #ADADAD;
    font-family: outfit;
    font-size: 20px;
}
.submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg,#DF8908 -5.09%, #B415FF 106.28%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:640px){
    .contact{
        gap:50px;
        margin: 50px 70px;
        align-items: start;
    }
    .title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .section{
        flex-direction: column;
    }
    .contactleft h1{
        font-size: 54px;
    }
    .contactleft p{
        font-size: 18px;
    }
    .detail{
        gap: 20px;
    }
    .contactright label{
        font-size: 20px;
    }
    .contactright input{
        width: 100%;
        font-size: 20px;
    }
    .contactright textarea{
        width: 95%;
        font-size: 20px;
    }
    .submit{
        font-size: 20px;
        padding: 15px 40px;
    }
}