
.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footertop{
    display: flex;
    justify-content: space-between;
}
.topleft img {
    height: 70px;
    width: 150px;
    background: cover;
}
.topleft p{
font-size: 20px;
max-width: 400px;
}
.topright{
    display: flex;
    align-items: center;
    gap: 35px;
}
.emailinput{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #323238;
    padding-right: 80px;
}
.emailinput input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 18px;
}
.emailinput:hover{
    border: 2px solid white;
}
.subscribe{
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    cursor: pointer;
    transition: 0.3s;
}
.subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.footerbottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.bottomright{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
@media(max-width:768px){
    .footer{
        margin: 50px 70px;
    }
    .footertop{
        flex-direction: column;
        gap: 50px;
    }
    .footerbottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}
